.portfolio-links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 55px;
}

.portfolio-btn{
background-color: var(--gray-color);
border-radius: 4px;
border: none;
padding: 6px 22px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
    background-color: var(--link-color);
    color: var(--white-color);
}
}

