:root{
    --link-color: #2196F3;
    --white-color: #FFFFFF;
    --gray-color: #F5F4FA;
    --black-color: #212121;
    --googray-color: #757575;
}

$link-color: #2196F3;
$white-color: #FFFFFF;
$gray-color: #F5F4FA;
$black-color: #212121;
$googray-color: #757575;